# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../../../../:\Users\joelf\OneDrive\Desktop\Joel\Enginyeria Informàtica\3r curs\2n semestre\Aprenentatge i Raonament Automàtic\HW1-Knowledge-Based-Agents\p1-agents\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
